@model Trezorix.Checkers.ManagerApp.Models.SkosSourceRepository.SkosSourceEditModel

@Html.HiddenFor(m => m.Id)
<div>
Key: @Html.TextBoxFor(m => m.Key)
</div>
<div>

Label: @Html.TextBoxFor(m => m.Label)
</div>

<fieldset>
<legend>Term enricher settings:</legend>
    @Html.CheckBoxFor(m => m.TermEnricherSettings.Enabled)
    @Html.DropDownListFor(m => m.TermEnricherSettings.DictionaryCollectionName, Model.DictionaryCollections)
</fieldset>

